body {
  margin: 0; }

.guide {
  position: fixed;
  width: 50%;
  min-width: 350px;
  height: 100%;
  margin-left: 25%;
  background-color: rgba(0, 0, 0, 0.1); }

.text {
  margin: auto; }

#pL-full-header-container {
	width:100%;
	height:100%;
	position:relative;
	background-color:rgba(253, 174, 149, 0.6);
}

#pL-header-container {
	position:absolute;
	width:100%;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}

#pL-header {
	font-family: 'Mada';
	font-weight:400;
	color:white;
	text-decoration:underline;
}

.pL-header-span {
	color:black;
}

#pL-sub-header {
	color:black;
}

.pL-top-sub {
	font-family: 'PT Serif';
	font-weight:600;
	margin:0;
}

.pL-bottom-sub {
	font-family: 'PT Serif';
	font-weight:600;
	margin:0;
}

#pL-authors {
	font-family: 'PT Serif';
	font-weight:400;
	color:black;
}

.pL-icon {
	
}

.pL-highlight {
	font-weight:700;
	
}

@media only screen and (min-width : 1000px) {
	#pL-header-container {
		
	}
	 #pL-header {
		font-size:100px;
		line-height:120px;
	}
	
	.pL-header-margin {
		padding-left:100px;
		padding-right:100px;
		max-width:1200px;
	}
	#pL-sub-header {
		margin-top:30px;
	}
	.pL-top-sub {
		font-size:40px;
		line-height:50px
	}
	.pL-bottom-sub {
		font-size:28px;
		line-height:50px
	}
	
	#pL-authors {
		margin-top:40px;
		font-size:28px;
	}
	.pL-icon {
		width:35px;
	}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	#pL-header {
		font-size:70px;
		line-height:80px;
	}
	.pL-header-margin {
		padding-left:75px;
		padding-right:78px;
	}
	#pL-sub-header {
		margin-top:20px;
	}
	.pL-top-sub {
		font-size:30px;
		line-height:40px
	}
	.pL-bottom-sub {
		font-size:22px;
		line-height:40px;
	}
	
	#pL-authors {
		margin-top:30px;
		font-size:24px;
	}
	.pL-icon {
		width:30px;
	}
}

@media only screen and (max-width: 763px) {
	 #pL-header {
		font-size:40px;
		line-height:45px;
	}
	.pL-header-margin {
		padding-left:30px;
		padding-right:30px;
	}
	#pL-sub-header {
		margin-top:15px;
	}
	.pL-top-sub {
		font-size:18px;
		line-height:22px
	}
	.pL-bottom-sub {
		font-size:14px;
		line-height:22px
	}
	
	#pL-authors {
		margin-top:20px;
		font-size:16px;
	}
	.pL-icon {
		width:20px;
	}
}

.copy-header {
	font-family:'Mada';
	font-weight:600;
	padding-bottom:.7em;
}

.copy-body {
	font-family:'PT Serif';
	font-weight:400;
    padding-bottom:2em;
}

.quote-container {
	padding-bottom:2em;
}

.quote {
	font-family:'PT Serif';
	padding-bottom:0px!important;
	border-left:5px solid rgba(253, 174, 149, 0.6);;
	font-weight:400;
	font-style:italic;
}

.chartHeaderContainer {
	font-family:'Mada';
}

.chartHeader {
	font-weight:600;
	margin:0;
}

.chartSubheader {
	font-weight:400;
	margin:0;
}

.bsControl {
	
 }

.download-container {
	 font-family: "Mada", Arial, sans-serif;
	margin-top:20px;
}

.downloadButton {
  display: inline-block;
  background-color: #ffffff;
  color:black!important;
  font-size: 14px;
  padding: 5px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #b5b5b5;
  border-bottom-width: 3px;
  margin: 10px 0px 10px; }
}

a.downloadLink {
  color:black!important;
}


@media only screen and (min-width : 1000px) {
	 .copy-header {
		width:900px;
	    font-size:32px;
		margin:auto;
		margin-top:100px;
	 }

	 .copy-body {
 		width:900px;
		margin:auto;
		font-size:20px;
		line-height:40px;
	 }
	 .quote {
		font-size:20px;
		line-height:40px;
		padding-left:30px!important;
	 }
	 .quote-container {
		width:900px;
		margin:auto;
	 }
	.download-container {
		width:900px;
		margin:auto;
	}
	.chartHeaderContainer {
		font-family:'Mada';
		width:900px;
		margin:auto;
		padding-top:40px;
		padding-bottom:20px;
	}
	.chartHeader {
		font-size:25px;
	}
	.chartSubheader {
		font-size:20px;
	}
	.bsControl, .barControl{
		width:900px;
		margin-left:calc((100% - 900px) / 2);
 	}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	 .copy-header {
		width:700px;
		font-size:32px;
		margin:auto;
		margin-top:80px;
	 }

	 .copy-body {
 		width:700px;
		margin:auto;
	    font-size:16px;
		line-height:30px;
	 }
	 .quote {
		font-size:18px;
		line-height:35px;
		padding-left:30px!important;
	 }
	 .quote-container {
		width:700px;
		margin:auto;
	 }
	 .download-container {
		width:700px;
		margin:auto;
	 }
	 .chartHeaderContainer {
		width:700px;
		margin:auto;
		padding-top:40px;
		padding-bottom:20px;
	 }
	 .chartHeader {
		font-size:22px;
	 }
	 .chartSubheader {
		font-size:18px;
	 }
	 .bsControl, .barControl{
		width:700px;
		margin-left:calc((100% - 700px) / 2);
 	 }
}

@media only screen and (max-width: 763px) {
	 .copy-header {
		width:84%;
		font-size:30px;
		line-height:32px;
		margin:auto;
		margin-top:80px;
	 }

	 .copy-body {
 		width:84%;
		margin:auto;
	    font-size:16px;
		line-height:30px;
	 }
	 .quote {
		font-size:16px;
		line-height:30px;
		padding-left:20px!important;
	 }
	 .quote-container {
		width:84%;
		margin:auto;
	 }
	 .download-container {
		display:none;
	 }
	 .chartHeaderContainer {
		width:84%;
		margin:auto;
	    padding-top:30px;
		padding-bottom:15px;
	 }
	 .chartHeader {
		font-size:18px;
	 }
	 .chartSubheader {
		font-size:14px;
	 }
	 .bsControl, .barControl{
		width:84%;
		margin-left:8%;
 	 }
}

.largeLetter {
	font-family: 'Mada';
	font-size:150px;
	font-weight:900;
	text-decoration:underline;
	text-decoration-color:#88cae3;
}

.mLetter {
	color:#fdae95
}

.blue-text {
	color:#88cae3;
}

.chartTitle {
  font-family: "Mada", Arial, sans-serif;
  font-weight: 700;
  font-size:20px;
  fill: #333333; 
  alignment-baseline: middle;
}

.chartTitleh2 {
  font-family: "Mada", Arial, sans-serif;
  font-weight: 400;
  font-size:16px;
  fill: #666666; 
  alignment-baseline: middle;
}

@media only screen and (max-width: 763px) {
	.chartTitle {
	  font-size: 14px;}

	.chartTitleh2 {
	  font-size: 11px;}
}

.adbaseline {
  stroke: black;
  stroke-width: 2px; }

.adstart {
  fill: black; }

.admat {
  fill: #f768a1;
  stroke: white;
  stroke-width: 2px; }

.adpat {
  fill: #74a9cf;
  stroke: white;
  stroke-width: 2px; }

.adarc {
  stroke-width: 2px;
  cursor: pointer; }

.adarc-mat-p {
  stroke: #fdae95;
  fill: rgba(253, 174, 149, 0.65); }

.adarc-mat-up {
  stroke: rgba(253, 174, 149, 0.75);
  fill: rgba(253, 174, 149, 0.25); }

.adarc-pat-p {
  stroke: #88cae3;
  fill: rgba(136, 202, 227, 0.65); }

.adarc-pat-up {
  stroke: rgba(136, 202, 227, 0.75);
  fill: rgba(136, 202, 227, 0.25); }

.adarclabel {
  font-family: "Mada", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-style: italic;
  pointer-events: none; }

.adlengthlabel {
  font-family: "Mada", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  fill: #b5b5b5;
  pointer-events: none; }

@media only screen and (max-width: 763px) {
	.adarclabel {
	  font-size: 12px;}
	
	.adlengthlabel {
	  font-size: 12px;}
}

.bsChartTitle {
	text-transform:uppercase;
	font-weight:600;
	alignment-baseline:middle;
	fill:white;
}

@media only screen and (min-width : 1000px) {
	 .bsChartTitle {
		font-size:18px;
	 }
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	 .bsChartTitle {
		font-size:16px;
	 }
}

@media only screen and (max-width: 763px) {
	 .bsChartTitle {
		font-size:14px;
	 }
}

.backgroundRect {
	fill:white;
	stroke-width:2;
}


.btn-group {
  display: inline; }

.bsMetricSelect {
  display: inline-block;
  color: #b5b5b5;
  background-color: #fff;
  font-family: "Mada", Arial, sans-serif;
  font-size: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #b5b5b5;
  border-bottom-width: 3px;
  margin: 10px 0px 10px; }

.bsMetricSelect.active, .bsMetricSelect:hover {
  background-color: #fff;
  border-color: #333333;
  color: #333333;
  cursor: pointer; }

.bsMetricSelect:focus {
  outline: none; }

.select2 {
  padding-top: 5px; }

.select2-container--default .select2-selection--single {
  font-family: "Mada", Arial, sans-serif;
  font-size: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #b5b5b5;
  border-bottom-width: 3px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #b5b5b5;
  margin-top: -2.5px;
  padding-top: 0px; }

.select2-selection__arrow {
  padding-top: 5px; }

.select2-results {
  font-family: "Mada", Arial, sans-serif;
  font-size: 10px;
  color: #666666; }

#select2-bsPayGenderSelect-container{
	color:black!important;
}

.tooltip {
  font-family: "Mada", Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left:15px;
  padding-right:15px;
  background: #666666;
  color: black;
  max-width: 200px; 
  border-radius:2px;}

.close-button {
	margin:0;
	display:none;
	z-index:100;
	pointer-events:all;
}



@media only screen and (max-width: 763px) {
	.bs-tooltip {
		padding-top:0px;
	}
	
	.bar-tooltip{
		
	}

	.close-button {
		font-family:'Mada';
		font-weight:600;
		color:white;
		margin:0;
		padding-top:5px;
		padding-bottom:0px;
		z-index:100;
	}
	
	.bs-close-button {
		display:flex;
		justify-content:flex-end;
	}
	
	.bar-close-button {
		display:block;
		position:absolute;
		right:5%;
		top:0;
	}
}

.tooltip h1 {
  font-weight: 700;
  padding-bottom: 2px;
  margin-bottom:5px;}

.tooltip h2 {
  font-weight: 400;
  padding-bottom: 0px;
  margin-top:0;
  color: #333333; }

.tooltip p {
  }

.tooltip-header {
	margin:0;
	margin-bottom:5px;
	font-size:20px;
	line-height:20px;
	color:white;
	font-weight:600;
}

.tooltip-sub-header {
	margin:0;
	font-size:14px;
	line-height:14px;
	padding-bottom:5px;
	font-weight:700;
	color:#dbdbdb;
}

.table-header {
	margin-top:15px;
	margin-bottom:5px;
	text-align:center;
	color:#bdbdbd;
	font-weight:600;
	height:10px;
}

.table-row {
	display:flex;
	flex-direction:row;
	align-items:center;
}

.flex-cell {
	margin:0;
	color:#bdbdbd;
	font-weight:600;
	font-size:14px;
	line-height:14px;
	align-items:baseline;
}

.first-cell {
	width:60px;
	margin-bottom:5px;
	margin-top:10px;
	font-size:14px;
	line-height:16px;
	color:#bdbdbd;
	font-weight:600;
}

.second-cell {
	width:60px;
}

.third-cell {
	width:60px;
}

.tooltipWeeks {
	display:block;
	text-align:center;
}

.weekAmount {
	font-size:20px;
}

.weekAmountSubText {
	font-size:10px;
	text-transform:uppercase;
}

.tooltipHiddenText {
	color:#666666;
}

.patText {
	color:#88cae3;
}

.matText {
	color:#fdae95;
}

.parText {
	color:white;
}

@media only screen and (min-width : 1000px) {
	 .tooltip h1 {
	  font-size: 20px;
	  line-height: 18px;}

	.tooltip h2 {
	  font-size: 14px;
	  line-height: 14px;}

}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	 .tooltip h1 {
	  font-size: 16px;
	  line-height: 14px;}

	.tooltip h2 {
	  font-size: 14px;
	  line-height: 12px;}

}

@media only screen and (max-width: 763px) {
	 .tooltip h1 {
	  font-size: 16px;
	  line-height: 14px;}

	.tooltip h2 {
	  font-size: 14px;
	  line-height: 12px;}

}

.aText, .axislabel, .barXaxis text {
  font-family: "Mada", Arial, sans-serif;
  text-transform: uppercase;
  fill: #666666; }

@media only screen and (min-width : 1000px) {
	 .aText, .axislabel, .barXaxis text {
	  font-size: 16px;}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	 .aText, .axislabel, .barXaxis text {
	  font-size: 13px;}
}

@media only screen and (max-width: 763px) {
	 .aText, .axislabel, .barXaxis text {
	  font-size: 11px;}
}

.axisTick {
  stroke: #b5b5b5;
  stroke-dasharray: 4,4; }

.barXaxis line, .barXaxis path {
  stroke: #b5b5b5; }

.companies {
  cursor: pointer; }

.companies:hover {
  stroke: black !important; }

.barLabels {
  font-family: "Mada", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #666666;
  pointer-events: none; }

.bar-axis-label {
  font-family: "Mada", Arial, sans-serif;
  font-size: 11px;
  fill: #666666; }

@media only screen and (min-width : 1000px) {
	 .bar-axis-label {
	  font-size: 14px;}
	.barLabels{
	  font-size: 14px;
	}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	 .bar-axis-label {
	  font-size: 12px;
	  }
	.barLabels{
	  font-size: 12px;
	}
}

@media only screen and (max-width: 763px) {
	 .bar-axis-label {
	  font-size: 10px;}
	.barLabels{
	  font-size: 10px;
	}
}

.barM, .barP {
  cursor: pointer; }

.barM:hover, .barP:hover {
  opacity: .8; }

.btn-group {
  display: inline; }

.barOrderSelect {
  display: inline-block;
  color: #b5b5b5;
  background-color: #fff;
  font-family: "Mada", Arial, sans-serif;
  font-size: 10px;
  padding: 5px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #b5b5b5;
  border-bottom-width: 3px;
  margin: 10px 0px 10px; }

.barOrderSelect.active, .barOrderSelect:hover {
  background-color: #fff;
  border-color: #333333;
  color: #333333;
  cursor: pointer; }

.barOrderSelect:focus {
  outline: none; }

.annotation-group {
  font-family: "Mada", Arial, sans-serif;
  font-weight: 400; }

.bsAnnotation-group {
  font-family: "Mada", Arial, sans-serif;
  font-weight: 400; }

.barAnnotation-group {
  font-family: "Mada", Arial, sans-serif;
  font-weight: 400; }

.bsAnnotation-end {
  text-anchor: end; }

.bsAnnotation-start {
  text-anchor: start; }

.annotation-note-bg {
  fill: #666666; }

.adAnnotation {
  font-size: 16px; }

@media only screen and (max-width: 763px) {
	.adAnnotation {
      font-size: 10px; }
}

.adAnnotation .annotation-note-label, .adAnnotation .connector-end {
  fill: #8c8c8c !important; }

.adAnnotation .connector, .adAnnotation .note-line, .adAnnotation .connector-end {
  stroke: #8c8c8c !important; }

.bsAnnotation1 {
	
}

@media only screen and (min-width : 1000px) {
	 .bsAnnotation1 {
		font-size:16px;
	 }
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	 .bsAnnotation1 {
		font-size:13px;
	 }
}

@media only screen and (max-width: 763px) {
	 .bsAnnotation1 {
		font-size:10px;
	 }
}
